@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body {
    background-color: black;
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}
#header {
    height: 35px;
    background-color: rgba(0, 0, 0, 0.8);
}
#sidebar {
    position: absolute;
    width: 240px;
    left: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #363636;
    padding-top:5px;
    border-color: #000000;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-top-width: 1px;
}
#sidebar-tree-container { 
    height: inherit;
    overflow-y: scroll;
    padding-bottom: 45px;
    -ms-overflow-style: none;
}
#sidebar-tree-container::-webkit-scrollbar {
    display: none;
}
#content {
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    margin: 0px 0px 0 240px;
}
#content .window {
}
#content #coding {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: #000000;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
#content #console {
    background-color: #00162d;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    color: #ffffff;
    border-color: #000000;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-top-width: 1px;
}
#source { 
    display: none;
}
.CodeMirror {
    height: auto;
}
.CodeMirror pre {
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    text-shadow: none;
}
#content #console-tab {
    height: 35px;
    /*background-color: #363636;
    padding-right: 10px;
    color: #ffffff;*/
    cursor: row-resize;
}

.pull-right {
    float: right !important;
}

.text-logo {
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
/*
.info-text {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}*/
/*
#line-info {
    cursor: text;
}
*/
.ui.dropdown .menu-right {
    left: auto;
    left: initial;
    right: 0px;
}

.CodeMirror-fullscreen {
    top: 35px;
    z-index: 200;
}

#full-screen-close-text {
    display: none;
}

.vakata-context {
    z-index: 100 !important;
}

.vakata-context, .vakata-context ul {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: #000000;
    box-shadow: 1px 1px 1px #000;
}
.vakata-context li>a {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    text-shadow: none;
}
.vakata-context li>a .vakata-contextmenu-sep, .vakata-context .vakata-context-separator>a, .vakata-context .vakata-context-separator>a:hover {
    border-color: #575757;
}

.vakata-context .vakata-context-hover>a, .vakata-context li>a:hover {
    color: #ffffff;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.context-menu-separator {
    border-bottom-color: #575757;
}
input.jstree-rename-input {
    color: #000000;
}
#loading, #loading>.ui.segment {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#console pre {
    margin: 0.5em;
}
.ui.secondary.menu > a.item {
    color: white;
}
.ui.secondary.menu > .menu > .active.item, .ui.secondary.menu > .active.item {
    background-color: rgba(0, 0, 0, 0.35);
}
.ui.secondary.menu > .menu > .item, .ui.secondary.menu > .item {
    margin: 0;
    margin-top: 2px;
    /* top right bottom left */
    padding: 6px 1.0em 4px 1.0em;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.ui.secondary.menu > .item.monospace {
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
#console .ui.dimmer {
    background-color: rgba(0, 22, 45, 0.35);
}
#coding .ui.dimmer {
    background-color: rgba(0, 0, 0, 0.35);
}

#console-content {
    padding: 0.5em;
    padding-right: 2em;
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 35px;
    -ms-overflow-style: none;
}

#header .main.menu .line.item {
    min-width: 70px;
    text-align: center;
}

#header .main.menu .language-dropdown.dropdown.item {
    min-width: 78px;
}

.CodeMirror-foldmarker {
    color: #aaa;
    text-shadow: #888 1px 1px 2px, #888 -1px -1px 2px, #888 1px -1px 2px, #888 -1px 1px 2px;
}

.CodeMirror-hints {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: black;
    color: #fff;
}
.CodeMirror-hint {
    color: #fff;
}
li.CodeMirror-hint-active {
    background-color: rgba(255, 255, 255, 0.3);
}

.lint-error { 
    font-size: 80%; 
    background: #ffa; 
    color: #a00; 
    padding: 2px 5px 3px; 
    text-shadow: none;
}
.lint-error-icon { 
    color: white; 
    background-color: red; 
    font-weight: bold; 
    border-radius: 50%; 
    padding: 0 3px; 
    margin-right: 7px; 
}
.lint-warning-icon { 
    color: white; 
    background-color: orange; 
    font-weight: bold; 
    border-radius: 50%; 
    padding: 0 3px; 
    margin-right: 7px; 
}

#console-content p {
    margin-bottom: 0;
    white-space: pre;
    word-wrap: break-word;
}
